* {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

main {
    margin: 1rem;
}

section {
    display: flex;
}

.badge {
    background-color: #F3F4F6;
    color: #1F2937;
    padding: 0.25em 1em;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}

.square {
    border-radius: 6px;
}

.pill {
    border-radius: 15px;
}

.red {
    color: #991B1B;
    background-color: #FEE2E2;
}

.yellow {
    color: #92400E;
    background-color: #FEF3C7;
}

.green {
    color: #065F46;
    background-color: #D1FAE5;
}

.blue {
    color: #1E40AF;
    background-color: #DBEAFE;
}

.indigo {
    color: #3730A3;
    background-color: #E0E7FF;
}

.purple {
    color: #5B21B6;
    background-color: #EDE9FE;
}

.pink {
    color: #9D174D;
    background-color: #FCE7F3;
}
