* {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

main {
    margin: 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

/* === Badges === */

.badges {
    display: flex;
}

.badge {
    background-color: #F3F4F6;
    color: #1F2937;
    padding: 0.25em 1em;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}

.badge > p {
    margin: 0;
}

.square {
    border-radius: 5px;
}

.pill {
    border-radius: 20px;
}

.red {
    color: #991B1B;
    background-color: #FEE2E2;
}

.yellow {
    color: #92400E;
    background-color: #FEF3C7;
}

.green {
    color: #065F46;
    background-color: #D1FAE5;
}

.blue {
    color: #1E40AF;
    background-color: #DBEAFE;
}

.indigo {
    color: #3730A3;
    background-color: #E0E7FF;
}

.purple {
    color: #5B21B6;
    background-color: #EDE9FE;
}

.pink {
    color: #9D174D;
    background-color: #FCE7F3;
}

/* === Banners === */

.banners {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    padding: 1em;
    margin: 1em;
    width: 800px;
    border-radius: 6px;
}

.banner > div {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 1.5rem;
    margin-right: 0.5em;
}

.success {
    background-color: #ECFDF5;
    color: #047857;
}

.headline {
    font-weight: bold;
}

.head-sucess {
    color: #065F46;
}

.green-mark {
    color: #34D399;
}

.warning {
    background-color: #FFFBEB;
    color: #B45309;
}

.head-warning {
    color: #92400E;
}

.warning-tri {
    color: #FBBF24;
}

.error {
    background-color: #FEF2F2;
    color: #B45309;
}

.head-error {
    color: #92400E;
}

.red-cross {
    color: #F87171;
}

.neutral {
    background-color: #EFF6FF;
    color: #1C51B9;
}

.head-neutral {
    color: #1E40AF;
}

.blue-icon {
    color: #60A5FA;
}
